[
    {rabbit, [
        {ssl_options, [
            {cacertfile, "/etc/rabbitmq/certs/ca_certificate.pem"},
            {certfile, "/etc/rabbitmq/server_rabbitmq_certificate.pem"},
            {keyfile, "/etc/rabbitmq/server_rabbitmq_key.pem"},
            {password, "grapefruit"},
            {verify, verify_peer},
            {fail_if_no_peer_cert, false}
        ]},
        {ssl_listeners, [5771]},
        {auth_backends, [
            {rabbit_auth_backend_ldap, rabbit_auth_backend_internal}
        ]}
    ]},
    {rabbitmq_management, [
        {listener, [
            {port, 15771},
            {ssl, true},
            {ssl_opts, [
                {cacertfile, "/etc/rabbitmq/certs/ca_certificate.pem"},
                {certfile, "/etc/rabbitmq/server_rabbitmq_certificate.pem"},
                {keyfile, "/etc/rabbitmq/server_rabbitmq_key.pem"},
                {password, "grapefruit"},
                {verify, verify_none},
                {fail_if_no_peer_cert, false},
                {client_renegotiation, false},
                {secure_renegotiate, true},
                {honor_ecc_order, true},
                {versions,['tlsv1.2']},
                {ciphers, [
                    "ECDHE-ECDSA-AES256-GCM-SHA384",
                    "ECDHE-ECDSA-AES128-GCM-SHA256",
                    "ECDHE-RSA-AES256-GCM-SHA384",
                    "ECDHE-RSA-AES128-GCM-SHA256",
                    "ECDH-ECDSA-AES128-GCM-SHA256",
                    "ECDH-ECDSA-AES256-GCM-SHA384",
                    "ECDH-RSA-AES128-GCM-SHA256",
                    "ECDH-RSA-AES256-GCM-SHA384"
                ]}
            ]}
        ]}
    ]},
    {rabbitmq_auth_backend_ldap, [
        {servers,             ["ldap-auth-backend"]},
        {dn_lookup_attribute, "uid"},
        {dn_lookup_base,      "ou=users,dc=example,dc=org"},
        {dn_lookup_bind,      {"cn=admin,dc=example,dc=org", "adminpassword"}},
        {use_ssl, true},
        {ssl_options, [
            {cacertfile, "/etc/rabbitmq/certs/ca_certificate.pem"},
            {verify, verify_peer},
            {fail_if_no_peer_cert, false}
        ]},
        {port, 1636},
        {log, network_unsafe},
        {resource_access_query, {in_group, "cn=readers,ou=users,dc=example,dc=org"}},
        {vhost_access_query, {in_group, "cn=readers,ou=users,dc=example,dc=org"}},
        {tag_queries, [
            {administrator, {in_group, "cn=readers,ou=users,dc=example,dc=org"}},
            {management, {constant, true}}
        ]}
    ]}
].
