[
    {rabbitmq_auth_backend_ldap, [
        {servers,             ["ldap-auth-backend"]},
        {dn_lookup_attribute, "uid"},
        {dn_lookup_base,      "ou=users,dc=example,dc=org"},
        {dn_lookup_bind,      {"cn=admin,dc=example,dc=org", "adminpassword"}},
        {use_ssl, true},
        {ssl_options, [
            {cacertfile, "/etc/rabbitmq/certs/ca_certificate.pem"},
            {verify, verify_peer},
            {fail_if_no_peer_cert, false}
        ]},
        {port, 1636},
        {log, network_unsafe},
        {resource_access_query, {in_group, "cn=readers,ou=users,dc=example,dc=org"}},
        {vhost_access_query, {in_group, "cn=readers,ou=users,dc=example,dc=org"}},
        {tag_queries, [
            {administrator, {in_group, "cn=readers,ou=users,dc=example,dc=org"}},
            {management, {constant, true}}
        ]}
    ]}
].
