[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
migrate = 'python manage.py migrate'
runserver = 'python manage.py runserver 0.0.0.0:8000'
